<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Basketball Training App</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.youtube-embed/1.7.10/ng-youtube-embed.min.js"></script>
    <script src="app.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="angular-youtube-embed.js"></script>
</head>

<body ng-app='basketballTrainingApp' ng-controller='mainCtrl'>   
  <h1 class="text-center">Basketball Training App</h1>
    <divclass='container'>
      <div class="jumbotron text-center">
        <h3>My Sessions<span class="label label-info">{{ userSessions.length }}</span></h3>
      </div>
    </div>
    <div id="session-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="checkbox" ng-repeat="session in userSessions">
          <label>
            <input type="checkbox" ng-click="removeSession(session._id)"> {{session.type}}.....{{session.name}}.....{{session.duration}}
          </label>
        </div>
      </div>
    </div>

    <div id='session-form' class='row'>
      <div class='col-sm-8 col-sm-offset-2 text-center'>
        <form>
          <div>
            <input type="text" placeholder="Drill Type" ng-model='formData.type'>
            <input type="text" placeholder="Drill Name" ng-model="formData.name">
            <input type="text" placeholder="Your time" ng-model="formData.duration">

          </div >
            <button type="submit" ng-click='addUserSession()'>Add Session</button>
          
        </form>

     
      <div>
        <h4>Dribbling</h4>
        <ng-youtube-embed listtype=search list=basketballdribblingdrills width=50% autoplay="false" disablekb="true" modestbranding='true'></ng-youtube-embed>
        <h4>Shooting</h4>
        <ng-youtube-embed listtype=search list=basketballshootingdrills width=50% autoplay="false"  disablekb="true" modestbranding='true'></ng-youtube-embed>
        <h4>Passing</h4>
        <ng-youtube-embed listtype=search list=basketballpassingdrills width=50% autoplay="false"   disablekb="true" modestbranding='true'></ng-youtube-embed>
      </div>

        
  </body>
  </html>


    <!-- <script type="text/ng-template" id='/addsessions.html'>
      <form ng-submit="addUserSession()" action="/" method="POST">
        <input type="text" ng-model="drillType" placeholder="Drill Type" name="type">
        <input type="text" ng-model="drillName" placeholder="Drill Name" name="name">
        <input type="text" ng-model="drillDuration" placeholder="Your time" name="duration">
        <button type="submit">Add Session</button>
      </form>
      <br>
      <div ng-repeat="userSession in userSessions">
        <input type="checkbox" ng-model="userSession.sucess">
        <span ng-bind="userSession.type"></span>
        <span ng-bind="userSession.name"></span>
        <span ng-bind="userSession.duration"></span>
      </div>
      <p><button ng-click="removeSession()">Remove</button></p>
      <br>
      <div>
        <span class='sessionTypes' ng-repeat="session in $ctrl.sessions">{{session.type}}</span>
      </div>
    </script> -->

