<script type="text/ng-template" id='/addsessions.html'>
  <form ng-submit="addUserSession()" action="/" method="POST">
    <input type="text" ng-model="drillType" placeholder="Drill Type" name="type">
    <input type="text" ng-model="drillName" placeholder="Drill Name" name="name">
    <input type="text" ng-model="drillDuration" placeholder="Your time" name="duration">
    <button type="submit">Add Session</button>
  </form>
  <br>
  <div ng-repeat="userSession in userSessions">
    <input type="checkbox" ng-model="userSession.sucess">
    <span ng-bind="userSession.type"></span>
    <span ng-bind="userSession.name"></span>
    <span ng-bind="userSession.duration"></span>

  </div>

  <p><button ng-click="removeSession()">Remove</button></p>
</script>